*{margin:0;padding:0;outline:none;text-decoration:none;}
.z_tou1{width:100%;height:90px;}
.z_tou2{width:80%;height:90px;margin:auto;}
.z_p1{font-size:18px;line-height:90px;float:left;}
.z_a1{float:right;font-size:18px;line-height:90px;text-decoration:none;color:#013ca6;}
.z_p2{float:right;font-size:18px;line-height:90px;margin-right:30px;}
/*身体*/
.z_d1{width:100%;height:500px;background:#E9E9E8;text-align:center}
.z_i1{width:318px;height:33px;padding:7px 20px;line-height:33px;font-size:14px;border:1px solid #ddd;outline:none;transition: border-color linear 0.5s;margin-bottom:20px;}
.z_i1:focus{border-color:#013ca6;}
.z_i1_d1{width:360px;margin:auto;margin-bottom:20px;}
.z_i1_d2{text-align:left;font-size:12px;color:#666;}
.z_i1_a{color:#013ca6;}
.z_d1_b{height:50px;width:360px;color:#fff;background-color:#f23030;border:none;cursor:pointer;}
.z_d1_b:hover{background-color:#f01818;}
.z_d1_b:active{background-color:#d20d0d;}
/*注册提示框*/
.z_black_overlay{display:none;position:absolute;top:0%;left:0%;width:100%;height:970px;background-color:black;z-index:1001;-moz-opacity:0.8;opacity:.80;filter:alpha(opacity=88);} 
.z_white_content{display:none;position:absolute;top:25%;left:25%;width:50%;height:50%;border:5px solid #013CA6;background-color:white;z-index:1002;overflow:auto;} 
.z_my_a{position:absolute;top:0;right:10px;font-size:24px;line-height:40px;color:#ccc;}
.z_my_s1{font-size:14px;line-height:40px;margin-left:10px;}
.z_my_1_1{width:90%;margin:auto}
.z_my_1_1_p{font-size:18px;height:25px;text-align:center;line-height:25px;margin:10px 0;}
.z_my_1_1_p1{font-size:16px;height:100%;margin:0 0 30px 0;}
.z_app_s1{position:absolute;top:150px;right:905px;}
.z_app_s2{position:absolute;top:220px;right:905px;}
.z_app_s3{position:absolute;top:155px;left:905px;}
.z_app_s4{position:absolute;top:220px;left:905px;}
.z_app_s5{position:absolute;top:295px;left:905px;}
/*登录*/
.d_tou1{width:100%;height:90px;}
.d_tou2{width:80%;height:90px;margin:auto;}
.d_shenti_d1{width:100%;height:600px;background:#E9E9E8;}
.d_shenti_d2{width:80%;height:600px;margin:auto;}
.d_shenti_d3{width:350px;height:350px;float:right;background:#fff;margin-top:90px;}
.d_shenti_s1{font-size:18px;width:174px;cursor:pointer;float:left;text-align:center;border-right:2px solid #ddd;color:#013ca6;font-weight:bold;margin:17px 0;}
.d_shenti_s2{font-size:18px;width:174px;cursor:pointer;float:left;text-align:center;color:#666;padding:17px 0;}
.d_shenti_i1{width:288px;height:20px;padding:9px 10px;line-height:20px;font-size:14px;border:1px solid #ddd;outline:none;transition: border-color linear 0.5s;margin:30px 20px 16px 20px;}
.d_shenti_i1:focus{border-color:#013ca6;}
.d_shenti_i2{width:288px;float:left;height:20px;padding:9px 10px;line-height:20px;font-size:14px;border:1px solid #ddd;outline:none;transition: border-color linear 0.5s;margin:0 15px 0 20px;}
.d_shenti_i2:focus{border-color:#013ca6;}
.d_shenti_i3{height:40px;background-color:#eee;float:left;width:125px;font-size:12px;text-align:center;line-height:36px;border:0 none;cursor:pointer;}
.d_shenti_i4{width:100%;margin:10px 0;height:40px;line-height:40px;color:#fff;text-align:center;border:0 none;background-color:#f23030;cursor:pointer;}
.d_shenti_i4:hover{background-color:#f01818;}
.d_shenti_i4:active{background-color:#d20d0d;}
.d_shenti_d5{width:100%;height:39px;line-height:39px;font-size:14px;color:#666;}
.d_shenti_d6{padding:0 20px;height:50px;background:#F8F8F8;line-height:50px;}
.d_shenti_d6_a1{width:31px;height:30px;float:left;margin-right:10px;padding-top:10px;}
.d_shenti_d6_a2{float:right;font-size:14px;color:#013ca6;}